.navbar{
  background: #11151c !important;
}
.navbar .navbar-brand{
  color: white !important;
  font-family: "Arial Black", Gaget,sans-serif !important;
  font-size: 1.5em;
}
.navbar .navbar-nav li a{
  color: white !important;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}
.navbar .navbar-toggler{
  background: white !important;
}
.navbar .btn{
  border:2px solid white !important;
  font-size: 1.2em;
  font-weight: bold;
  color: white !important;
}
.media .mr-3{
  width:400px;
  height:inherit ;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 5px;

}
.media .mr-3:hover {
  box-shadow: 0 0 5px 3px rgba(0, 100, 186, 0.5);
}
.media .media-body{
  color:white;
  font-size: 1.2em;
}
.media .media-body h4{
  font-weight: bold;
}
.jumbotron{
  background: transparent !important;
  color: white;
  padding-left: 5px !important;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
  padding-top: 10px !important;
}
.jumbotron .lead{
  font-size: 1em;
}
.jumbotron .badge{
  padding: 10px 20px 10px 20px !important;
  font-size: 1em;
  font-family: sans-serif;
  margin-bottom: auto !important;
  margin-top:inherit;
}
.jumbotron .comma-list a{
  color:white;
  font-size:1.2em;
  font-family:Tahoma, Geneva, sans-serif;
  text-decoration: underline;
}
.jumbotron .comma-list{
  display: inline;
  list-style-type:none;
  padding: 0px;
}
.jumbotron .comma-list li{
  display: inline;
}
.jumbotron .comma-list li::after{
  content: " | "
}
.jumbotron .comma-list li:last-child::after{
  content: ""
}
hr{
  height: 1px;
  background: white;
  border: none;
}
.sameline{
  display: inline-block;
}
#mail{
  color: white;
  text-decoration: underline;
}
